# Ignore virtual environment
venv/
backend/venv/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore node_modules
node_modules/

# Ignore environment variables & credentials
.env
firebase/firebase_setup.json

# Ignore large model files
*.pt
*.h5
*.pkl
